<html>

<head>
    <meta property="og:title" content=Youtube Video Downloader>
    <meta property="og:site_name" content=Youtube Video Downloader>
    <meta property="og:url" content=https://genyoutube.site />
    <meta property="og:description" content=Effortlessly download YouTube videos with our reliable and user-friendly
        video downloader. Get started today!>
    <meta property="og:type" content=website>
    <meta property="og:image" content=https://genyoutube.site/favicon.ico>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y91ET1Q0TE"></script>
    <script type="text/javascript" src="ads/native.js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y91ET1Q0TE');
    </script>
    <script type="" application/ld+json"">
        {
        ""@context"": ""https://schema.org/"",
        ""@type"": ""WebSite"",
        ""name"": ""Youtube Video Downloader"",
        ""url"": ""https://genyoutube.site/"",
        ""potentialAction"": {
            ""@type"": ""SearchAction"",
            ""target"": ""https://genyoutube.site/youtubetomp3{search_term_string}"",
            ""query-input"": ""required name=search_term_string""
        }
        }
</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8509471338094159"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="icon" type="image/x-icon" href="../public/siteicon.png">
    <link rel="canonical" href="https://www.genyoutube.site/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Youtube to MP3</title>
    <style>
        .text-center {
            text-align: center;
        }

        .heading {
            font-size: 35px;
            margin-bottom: 0 !important;
        }

        .sub-heading {
            font-size: 15px;
            margin-top: 0 !important;
            padding: 15px 0;
        }

        .submit-btn {
            background-color: red;
            border: none !important;
            color: #fff;
            box-shadow: 0 4px 10px rgba(255, 86, 63, .4);
            border-radius: 12px;
            padding: 18px 40px;
            font-size: 17px;
            font-weight: 600;
            transition: all 0.3s linear;
        }

        .submit-btn:hover {
            background-color: #4a474c;
            color: #fff;
            box-shadow: none;
        }

        .link-textbox {
            width: 32%;
            padding: 17px 20px;
            border-radius: 12px;
            border: 2px solid #ffc4c4;
            font-size: 14px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col-3 {
            width: 33.33%;
        }

        .col-1 {
            width: 100%;
        }

        .box1 {
            background: #d2e3fc;
            color: #4285f4;
            border-radius: 50%;
            padding: 20px 20px;
            font-size: 40px;
            display: inline-block;
            font-weight: 700;
        }

        .box2 {
            background: #fad2cf;
            color: #ed6357;
            border-radius: 50%;
            padding: 20px 20px;
            font-size: 40px;
            display: inline-block;
            font-weight: 700;
        }

        .box3 {
            background: #ceead6;
            color: #34a853;
            border-radius: 50%;
            padding: 20px 20px;
            font-size: 40px;
            display: inline-block;
            font-weight: 700;
        }

        .small-box {
            background-color: #e2e8f0;
            border-radius: 50%;
            padding: 10px;
            margin: 10px;
            display: inline-block;
        }

        .py {
            padding: 50px 0;
        }

        .padding30 {
            padding: 30px 0;
        }

        .main {
            text-align: left;
            padding: 0px 45px 15px;
        }

        .menu {
            display: flex;
            align-items: center;
        }



        .footer {
            background: #4a474c;
            color: #fff;
            padding: 30px 0;
            text-align: center;
            margin-top: 20px
        }

        .footer-bg {

            background: #4a474c;
            color: #fff;
        }


        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
        }

        .header-content h2 {
            color: red;
            font-size: 30px;
        }

        #language {

            border: 1px solid #0e0f0d;

        }

        .justify-center {
            justify-content: center;
        }

        .text-left {
            text-align: left;
        }

        .comman-spacing {
            padding: 0px 10px;
        }

        .main-color {
            color: #4a474c;
            font-family: sans-serif;
            font-size: 15px;
        }

        .title {
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 15px;
        }

        .all-section {
            padding: 0px 20px 30px;
        }

        .image-box {
            height: 220px;
            display: flex;
            justify-content: center;
            border-radius: 17px 17px 0 0;
        }

        .bg1 {
            background: #d2e3fc;
        }

        .text-box {
            padding: 20px;
            text-align: left;
        }

        .list-item {
            width: 30%;
            background: #fff;
            box-shadow: 0 13px 30px rgba(0, 0, 0, .11);
            border-radius: 17px;
            margin: 0 30px 35px 0;
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .navbar a {
            text-decoration: none;
            color: #4a474c;
        }

        .navbar a:hover {
            color: red;
        }

        .pages {
            color: white;
            font-weight: 700;
            padding: 0px 15px;
            text-decoration: none;

        }

        .padding-bottom10 {
            padding-bottom: 10px;
        }

        .loading-spinner {
            display: inline-block;
            border: 4px solid rgba(0, 0, 0, 0.3);
            text-align: center;
            border-radius: 50%;
            border-top: 4px solid #ffffff;
            /* Replace with your preferred color */
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* -------------------------------------------------------------------header------------------------------------------------------------------- */

        .header-text {
            color: #ef4444;
            font-weight: 700;
            font-size: 1.875rem;
            line-height: 2.25rem;
        }

        .header-menu-wrap {
            border-right: 2px solid black;
        }

        .header-menu {
            color: #000000;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
        }

        .header-menu:hover {
            color: #ef4444;
        }

        .box-shadow {
            box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }

        @media (max-width: 768px) {

            .size {
                font-size: 20px;
            }
        }

        @media (min-width: 420px) {

            .size {
                font-size: 30px;
            }
        }

        @media (min-width: 678px) {
            .pages {
                font-size: 25px;
            }

            .size {
                width: 100%;
            }
        }

        @media (min-width: 991px) {

            .size {
                width: 100%;
            }

            .pages {
                font-size: 15px;
            }
        }

        .loading-spinner {
            display: inline-block;
            border: 4px solid rgba(0, 0, 0, 0.3);
            text-align: center;
            border-radius: 50%;
            border-top: 4px solid #ffffff;
            /* Replace with your preferred color */
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body class="main-color">
    <header style="border-bottom: 1px solid #dfdfdf;">
        <div class="container header-content">
            <p></p>
            <h2>Youtube to MP3</h2>
            <div>
                <select name="language" id="language">
                    <option value="English">English</option>
                    <option value="العربية">العربية</option>
                    <option value="Türkçe">Türkçe</option>
                    <option value="हिन्दी / Hindī">हिन्दी / Hindī</option>
                    <option value="Français">Français</option>
                    <option value="Español">Español</option>
                    <option value="Indonesian">Indonesian</option>
                </select>
            </div>
        </div>
        <div style="border-top: 1px solid #dfdfdf;padding: 30px;">
            <div class=" section-container d-flex justify-content-between mx text-align-center">
                <a class="header-menu" href="/">Youtube Downloader</a>
                <div class="header-menu-wrap"></div>
                <a class="header-menu" href="youtubetomp3">Youtube to MP3</a>
                <div class="header-menu-wrap"></div>
                <a class="header-menu " href="linkedindownload">Linkedin
                    Downloader</a>
            </div>
        </div>
    </header>
    <h1 style="
        text-align: center;
        font-family: sans-serif;
        margin: 50px 0px;
        color: #ffffff;
      ">
        YouTube MP3 Downloader
    </h1>

    <div id="loading" style="display: none; text-align: center; margin: 30px 0px">
        <div class="loading-spinner"></div>
        <h5 style="
          text-align: center;
          font-family: sans-serif;
          margin: 20px 0px;
        ">
            Loading...
        </h5>
    </div>
    <h4 id="title" style="text-align: center; color: #ffffff"></h4>

    <div id="downloadLink" style="display: none; text-align: center; margin-top: 60px">
        <a id="downloadButton" href="#" style="
          padding: 10px 15px;
          border-radius: 8px;
          border: none;
          font-weight: 700;
          color: #ffffff;
          background-color: #00b887;
          cursor: pointer;
          font-family: sans-serif;
          text-decoration: none;
        ">
            Download Mp3
        </a>
    </div>
    <!-- ads code -->
    <!-- <%- include('ads/native.js') -%> -->
        <!-- -----------------------------------------------------------------------------footer----------------------------------------------------------------------------- -->
        <footer class="footer-bg mt-16">
            <div class="footer ">
                <div class="section-container row align-item-center justify-content-center">
                    <a class="w-5 w-md-3 w-sm-1" href="/">Home</a>
                    <a class="w-5 w-md-3 w-sm-1" href="/privacy">Privacy Policy</a>
                    <a class="w-5 w-md-3 w-sm-1" href="/termsofservice">Terms of
                        service</a>
                    <a class="w-5 w-md-3 w-sm-1" href="/dmca">DMCA</a>
                    <a class="w-5 w-md-3 w-sm-1" href="/contact">Contact Us</a>
                </div>
                <p>© 2023 Youtube Video Downloader</p>
            </div>
        </footer>

        <script>
            const form = document.getElementById("downloadForm");
            const loadingDiv = document.getElementById("loading");
            const downloadLinkDiv = document.getElementById("downloadLink");
            const downloadButton = document.getElementById("downloadButton");
            const filename = document.getElementById("title");

            form.addEventListener("submit", async (event) => {
                event.preventDefault();
                const url = form.url.value;
                loadingDiv.style.display = "block";

                const response = await fetch(`/videoInfo?url=${encodeURIComponent(url)}`);
                const data = await response.json();
                downloadButton.download = `${data.videoDetails.title}.mp3`;

                try {
                    const response = await fetch(`/downloadmp3?url=${encodeURIComponent(url)}`);
                    const blob = await response.blob();

                    loadingDiv.style.display = "none";
                    downloadLinkDiv.style.display = "block";
                    downloadButton.href = URL.createObjectURL(blob);
                    filename.textContent = data.videoDetails.title;
                } catch (err) {
                    console.error("Error downloading MP3:", err);
                    // alert("Error occurred during download");
                    loadingDiv.style.display = "none";
                }
            });
        </script>
</body>

</html>