<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="discription"
    content="Download YouTube videos with ease using our fast and reliable YouTube downloader. Enjoy your favorite videos offline anytime, anywhere">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Get Your Favorite Videos with Ease: YouTube Downloader" />
  <meta property="og:title" content=Youtube Video Downloader>
  <meta property="og:site_name" content=Youtube Video Downloader>
  <meta property="og:url" content=https://genyoutube.site />
  <meta property="og:description" content=Effortlessly download YouTube videos with our reliable and user-friendly video
    downloader. Get started today!>
  <meta property="og:type" content=website>
  <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <meta property="og:image" content=https://genyoutube.site/favicon.ico>
  <meta property="og:image" content=https://genyoutube.site/siteicon.png>
  <meta name="google-site-verification" content="2Og3JfziZUZ-KaVMg45GYdAo8rb9AImFMD3GRaqz9UU" />
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="icon" type="image/x-icon" href="../public/siteicon.png">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y91ET1Q0TE"></script>
  <script type="text/javascript" src="ads/native.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Y91ET1Q0TE');
  </script>
  <script type="" application/ld+json"">
      {
        ""@context"": ""https://schema.org/"",
        ""@type"": ""WebSite"",
        ""name"": ""Youtube Video Downloader"",
        ""url"": ""https://genyoutube.site/"",
        ""potentialAction"": {
          ""@type"": ""SearchAction"",
          ""target"": ""https://genyoutube.site/youtubetomp3{search_term_string}"",
          ""query-input"": ""required name=search_term_string""
        }
      }
  </script>
  <script type="text/javascript">
    // Function to load Google Translate after the page is fully loaded
    function loadGoogleTranslate() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
      document.head.appendChild(script);
    }

    // Function to initialize Google Translate
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        { pageLanguage: 'en' },
        'google_translate_element'
      );
    }
  </script>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8509471338094159"
    crossorigin="anonymous"></script>
  <link rel="canonical" href="https://genyoutube.site/">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>YouTube Downloader</title>

</head>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .skiptranslate iframe {
    display: none !important;
  }

  .goog-te-gadget {
    font-size: 0px !important;
  }

  .goog-te-gadget img {
    display: none !important;
  }

  .goog-te-gadget a {
    display: none !important;
  }

  body {
    font-family: open sans, sans-serif;
    top: 0 !important;
  }

  .d-flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .text-align-center {
    text-align: center;
  }

  .text-align-left {
    text-align: left;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .justify-content-center {
    justify-content: center;
  }

  .align-item-center {
    align-items: center;
  }

  .w-3 {
    width: 33.33%;
  }

  .w-5 {
    width: 20%;
  }

  .w-7 {
    width: 70%;
  }

  .w-33 {
    width: 30%;
  }

  .py {
    padding: 60px 0;
  }

  .py-3 {
    padding: 30px 0;
  }

  .mx {
    margin: 0 100px;
  }

  #language {
    border: 1px solid #0e0f0d;
  }

  .section-container {
    max-width: 992px;
    margin: 0 auto;
  }

  .link-textbox {
    width: 100%;
    padding: 20px 20px 14px 20px;
    border-radius: 12px;
    border: 2px solid #ffc4c4;
  }

  .submit-btn {
    background-color: red;
    font-size: 18px;
    border: none !important;
    color: #fff;
    box-shadow: 0 4px 10px rgba(255, 86, 63, 0.4);
    border-radius: 12px;
    padding: 15px 40px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  .submit-btn:hover {
    background-color: #4a474c;
    color: #fff;
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
    color: #888;
    font-size: 20px;
  }

  .px-2 {
    padding: 0 20px;
  }

  .px-5 {
    padding: 0 50px;
  }

  .title {
    font-size: 38px;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: black;
  }

  /* -------------------------------------------------------------------header------------------------------------------------------------------- */

  .header-text {
    color: #ef4444;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .header-menu-wrap {
    border-right: 2px solid black;
  }

  .header-menu {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
  }

  .header-menu:hover {
    color: #ef4444;
  }

  .box-shadow {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* margin-top: -20px; */
  }

  /* -------------------------------------------------------------------Youtube Downloader------------------------------------------------------------------- */
  .youtube-downloader h1 {
    padding: 12px;
    line-height: 44px;
  }

  .youtube-downloader h2 {
    padding: 0px 5px 15px 5px;
    line-height: 44px;
  }

  .youtube-downloader p {
    font-size: 20px;
    line-height: 30px;
  }

  /* -------------------------------------------------------------------online-youtube------------------------------------------------------------------- */
  .online-youtube h2 {
    padding: 20px 50px !important;
    line-height: 44px;
    padding-bottom: 35px;
  }

  .online-youtube p {
    font-size: 20px;
    line-height: 30px;
  }

  /* -------------------------------------------------------------------youtube-img------------------------------------------------------------------- */
  .youtube-img h2 {
    padding: 20px 0;
    padding-bottom: 70px;
  }

  .youtube-img p {
    font-size: 18px;
    line-height: 30px;
    margin: 55px 0;
  }

  /* -------------------------------------------------------------------Key feature------------------------------------------------------------------- */
  .keyFeature h2 {
    padding: 20px 10px;
    padding-bottom: 35px;
  }

  /* -------------------------------------------------------------------how to Download------------------------------------------------------------------- */
  .howDownload h2 {
    padding: 20px 10px;
    padding-bottom: 50px;
  }

  .box h3 {
    padding: 15px;
    font-size: 24px;
  }

  .box p {
    font-size: 18px;
    line-height: 26px;
  }

  .box1 {
    background: #d2e3fc;
    color: #4285f4;
    border-radius: 50%;
    font-size: 35px;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
  }

  .box2 {
    background: #fad2cf;
    color: #ed6357;
    border-radius: 50%;
    font-size: 35px;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
  }

  .box3 {
    background: #ceead6;
    color: #34a853;
    border-radius: 50%;
    font-size: 35px;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
  }

  /* -------------------------------------------------------------------faq------------------------------------------------------------------- */

  .faq h2 {
    padding: 20px 0;
    padding-bottom: 35px;
  }

  .faq ul {
    line-height: 30px;
    font-size: 18px;
  }

  .faq ul li {
    padding: 12px 25px;
  }

  /* -------------------------------------------------------------------footer------------------------------------------------------------------- */
  .footer {
    background: #4a474c;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
  }

  .footer a {
    font-size: 20px;
    color: #fff;
    padding: 5px 26px;
    line-height: 30px;
    cursor: pointer;
  }

  .footer p {
    font-size: 16px;
    color: #fff;
    padding: 22px 0;
  }

  .footer-bg {
    background: #4a474c;
    color: #fff;
  }

  /* --------------------------------------------------------------media Quary-------------------------------------------------------------- */
  /* xl */
  @media (max-width: 1399px) {}

  /* lg */
  @media (max-width: 1199px) {}

  /* md */
  @media (max-width: 991px) {

    .w-md-1 {
      width: 100%;
    }

    .w-md-2 {
      width: 50%;
    }

    .w-md-3 {
      width: 33.33%;
    }

    .py {
      padding: 40px 0;
    }

    .mx {
      margin: 0px 40px;
    }

    .md-left {
      text-align: left;
    }

    .footer a {
      padding: 15px 0;
      margin: 0 -30px;
    }
  }

  /* sm */
  @media (max-width: 767px) {

    .w-sm-2 {
      width: 50%;
    }

    .w-sm-1 {
      width: 100%;
    }

    .py {
      padding: 30px 0;
    }

    .mx {
      margin: 0px 20px;
    }

    .download-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding: 30px 0;
    }

    ::-webkit-input-placeholder {
      color: #888;
      font-size: 15px;
    }

    .header-text {
      font-size: 25px;
    }

    .title {
      font-size: 30px;
    }

    .footer a {
      padding: 15px 0;
    }
  }

  /* xs */
  @media (max-width: 576px) {
    .w-sm-1 {
      width: 100%;
    }

    .header-menu {
      font-size: 15px;
      margin: 0px 12px;
    }

    .footer a {
      padding: 10px 0;
    }

    .mx {
      margin: 0px 10px;
    }
  }
</style>

<body onload="loadGoogleTranslate()">
  <!-------------------------------------------------------------------- header------------------------------------------------------------------ -->
  <!-- <header class="box-shadow">
    <div class="box-shadow ">
      <div class="d-flex justify-content-between align-item-center section-container px-2">
        <p></p>
        <h2 class="header-text py-3">Youtube Video Downloader</h2>
        <div>
          <select name="language" id="language">
            <option value="English">English</option>
            <option value="العربية">العربية</option>
            <option value="Türkçe">Türkçe</option>
            <option value="हिन्दी / Hindī">हिन्दी / Hindī</option>
            <option value="Français">Français</option>
            <option value="Español">Español</option>
            <option value="Indonesian">Indonesian</option>
          </select>
        </div> 
        <div id="google_translate_element"></div>
      </div>
    </div>
    <div style="border-top: 1px solid #dfdfdf; padding: 32px 0px; ">

      <div class=" section-container d-flex justify-content-between mx text-align-center">
        <a class="header-menu" href="/">Youtube Downloader</a>
        <div class="header-menu-wrap"></div>
        <a class="header-menu" href="youtubetomp3">Youtube to MP3</a>
        <div class="header-menu-wrap"></div>
        <a class="header-menu " href="linkedindownload">Linkedin
          Downloader</a>
      </div>
    </div>
  </header> -->
  <%- include('header.ejs') -%>
    <!-- ----------------------------------------------------------------- Youtube Downloader------------------------------------------------------------------->
    <!-- <form action="/download" method="GET"> -->
    <form action="/videoviews" method="GET">
      <div class="section-container  text-align-center youtube-downloader py">
        <h1 class="title">Youtube Downloader</h1>
        <p>
          Convert and download Youtube videos in MP3, MP4, 3GP for free
        </p>
        <div class="row justify-content-center py mx">
          <div class="w-7 w-sm-1">
            <input type="url" id="url" name="videoUrl" placeholder="Paste your Youtube link here" class="link-textbox"
              required />
            <!-- <input type="text" name="url" placeholder="Paste your Youtube link here" class="link-textbox" required /> -->
          </div>
          <div class="w-33 w-sm-1 text-align-left download-btn" style="padding-left: 15px;">
            <button type="submit" class="submit-btn ">Download</button>
          </div>
        </div>
        <div>
          <h2 class="px-2 title">The Best Youtube Downloader</h2>
          <p class="px-2">
            YouTube Downloader helps you save Youtube videos to your device. You can choose from a variety of
            formats and
            qualities to download.
          </p>
        </div>
      </div>
      <!-- ads code -->
      <!-- <%- include('ads/native.js') -%> -->
      <!-- --------------------------------------------------------------Online YouTube-------------------------------------------------------------- -->
      <div class="section-container online-youtube py text-align-center faq">
        <h2 class="px-5 title">GenYouTube – Best Free Online YouTube
          Downloader Site
        </h2>
        <div class="text-align-left" style="padding: 0 25px;">
          <p>Do you wish to download YouTube videos in high quality without any hassle? GenYouTube the best
            free online
            YouTube Downloader Site, lets you do the same in multiple formats all for free and on any device
            – be it a
            mobile phone, tablet, or PC. Experience an awesome world of YouTube videos with Gen YouTube –
            the YouTube
            downloader Site for all generations. Gen YouTube is more like a “Gen You YouTube” downloader
            Site.
          </p>
          <p style="padding: 24px 0;">This online video downloader platform has been built with the needs of
            the current
            times in
            mind. For
            example, teachers need YouTube videos to teach students about important concepts. But, what if
            the videos
            are taken down? Save them before you lose them. How? By using the gen youtube platform.</p>
          <p>Are you tired of watchingg malicious ads? GenYouTube offers you to save videos without those
            irritating
            ads. Isn’t that amazing?
          </p>
        </div>
      </div>
      <!-- ----------------------------------------------------------------Youtube Video images---------------------------------------------------------------- -->
      <div class="section-container youtube-img py text-align-center">
        <h2 title>Youtube Video Downloader</h2>
        <div class="row justify-content-center">
          <div class="w-5 w-md-3 w-sm-2 px-2">
            <img src="https://yt1ss.net/statics/image/icon1.svg" alt="Youtube to MP4">
          </div>

          <div class="w-5 w-md-3 w-sm-2 px-2">
            <img src="https://yt1ss.net/statics/image/icon2.svg" alt="Youtube to MP3">
          </div>

          <div class="w-5 w-md-3 w-sm-2 px-2">
            <img src="https://yt1ss.net/statics/image/icon3.svg" alt="Youtube to 3GP">
          </div>

          <div class="w-5 w-md-3 w-sm-2 px-2">
            <img src="https://yt1ss.net/statics/image/icon4.svg" alt="Youtube to WEBM">
          </div>

          <div class="w-5 w-md-3 w-sm-2 px-2">
            <img src="https://yt1ss.net/statics/image/icon5.svg" alt="Youtube to M4A">
          </div>
        </div>
        <p class="px-2 md-left">
          Download Youtube videos with "Youtube Downloader" YouTube Downloader. By using our downloader you
          can easily
          convert YouTube videos to MP3, MP4, 3GP, WEBM, M4A files... and download them for free - this
          service
          works for computers, tablets and mobile devices. The videos are always converted in the highest
          available quality.
        </p>
        <!-- <button type="submit " class="submit-btn">Download Now</button> -->
      </div>
      <!-- ----------------------------------------------------------------Key Features---------------------------------------------------------------- -->
      <div class="py section-container text-align-center keyFeature faq">
        <h2 class="title">Key Features of GenYouTube</h2>
        <div class="text-align-left">
          <ul>
            <li>
              <div><b>High-quality Video Download for
                  Free</b></div>
              <div> – You
                can download YouTube videos
                in high quality (2160p,
                1440p,
                1080p, 720p) and without any hassle and that too for free.</div>
            </li>
            <li>
              <div><b>Unlimited And Ad-Free YouTube
                  Downloads</b></div>
              <div>–
                You can download as many
                videos as you want using
                GenYouTube without being disturbed by spam ads.</div>
            </li>
            <li>
              <div><b>Super-convenient Video
                  Converter</b></div>
              <div>– GenYouTube let’s you download
                unlimited
                videos conveniently in
                any format of your choice – MP3, MP4, WMA, M4A, FLV, WEBM, MO And 3GP formats.</div>
            </li>
            <li>
              <div><b>Safety Guaranteed</b></div>
              <div> – Gen YouTube is a safe
                platform to use
                anywhere you want to use it.</div>
            </li>
            <li>
              <div><b>Multiple Device and Cloud
                  Support</b></div>
              <div> – GenYouTube supports all
                devices like mobile,
                PC, and tablets
                and also let’s you upload the files thus converted to either DropBox or Google
                Drive.</div>
            </li>
          </ul>
        </div>
      </div>
      <!-- --------------------------------------------------------------How to download-------------------------------------------------------------- -->
      <div class="section-container howDownload  text-align-center">
        <h2 class="title">How to download Youtube video?</h2>

        <div class="row justify-content-center" style="padding: 10px 40px;">
          <div class="w-3 w-md-2 w-sm-1 box" style="padding: 20px 30px;">
            <div class=" box1"><i class="fa-solid fa-copy"></i></div>
            <h3>
              <b>Step 1 </b>
            </h3>
            <p>
              First, Copy the URL of the video or audio you wish to download
              from YouTube.
            </p>
          </div>
          <div class="w-3 w-md-2 w-sm-1 box" style="padding: 20px 30px;">
            <div class=" box2"><i class="fa-solid fa-paste"></i></div>
            <h3>
              <b>Step 2 </b>
            </h3>
            <p>
              Next, you need to paste the URL in the search box and choose the format of your choice.
            </p>
          </div>
          <div class="w-3 w-md-2 w-sm-1 box" style="padding: 20px 30px;">
            <div class=" box3"><i class="fa-solid fa-download"></i></div>
            <h3>
              <b>Step 3 </b>
            </h3>
            <p>
              Click on download and enjoy Gen YouTube video downloader.
            </p>
          </div>
        </div>
      </div>
      <!------------------------------------------------------ FAQ---------------------------------------------------- -->
      <div class="section-container faq text-align-center py">
        <h2 class="title">FAQs</h2>
        <div class="text-align-left">
          <ul id="accordion" role="tablist" aria-multiselectable="true">
            <li>
              <div>
                <h4><b>What is
                    the time taken to download a YouTube Video?</b>
                </h4>
                <div>
                  The downloading time depends on the video size and your network. It can even take a
                  few seconds.
                </div>
              </div>
            </li>
            <li>
              <div>
                <h4><b>Is
                    GenYouTube also a video converter?</b></h4>
                <div>
                  <div>
                    Yes, GenYouTube is also a video converter and let’s you convert videos to MP3,
                    MP4, WMA, M4A, FLV,
                    WEBM,
                    MO
                    And 3GP formats. </div>
                </div>
            </li>
            <li>
              <div>
                <h4><b>Does
                    GenYouTube require users to login?</b></h4>
                <div>
                  <div>
                    No, GenYouTube does not require users to login. Straightaway paste the YouTube
                    video URL and
                    download
                    by
                    choosing the format of your choice. That’s it. </div>
                </div>
              </div>
            </li>
            <li>
              <div>
                <h4><b>Where to
                    save a GenYouTube Download?</b></h4>
                <div>
                  All you need to do here is navigate to your phone’s “downloads” folder and check the
                  video that has
                  been
                  downloaded.
                </div>
              </div>
            </li>
            <li>
              <div>
                <h4><b>Which are
                    the languages that geny youtube supports?</b>
                </h4>
                <div>
                  GenYouTube let’s users to download YouTube videos in all popular languages.
                </div>
              </div>
            </li>
            <li>
              <div>
                <h4><b>Does
                    GenYouTube limit the number of downloads?</b></h4>
                <div>
                  There is no limit to the number of videos you wish to download.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </form>

    <!------------------------------------------------------ footer---------------------------------------------------- -->
    <footer class="footer-bg mt-16">
      <div class="footer ">
        <div class="section-container row align-item-center justify-content-center">
          <a class="w-5 w-md-3 w-sm-1" href="/">Home</a>
          <a class="w-5 w-md-3 w-sm-1" href="/privacy">Privacy Policy</a>
          <a class="w-5 w-md-3 w-sm-1" href="/termsofservice">Terms of
            service</a>
          <a class="w-5 w-md-3 w-sm-1" href="/dmca">DMCA</a>
          <a class="w-5 w-md-3 w-sm-1" href="/contact">Contact Us</a>
        </div>
        <p>© 2023 Youtube Video Downloader</p>
      </div>
    </footer>
    <!-- <script>
    const form = document.getElementById("downloadForm");
    const loadingDiv = document.getElementById("loading");

    form.addEventListener("submit", async (event) => {
      event.preventDefault();
      const url = form.url.value;
      loadingDiv.style.display = "block";

      try {
        const response = await fetch(`/Videoviews?url=${encodeURIComponent(url)}`);
        const data = await response.json();

        loadingDiv.style.display = "none";
      } catch (err) {
        console.error("Error downloading MP3:", err);
        // alert("Error occurred during download");
        loadingDiv.style.display = "none";
      }
    });
  </script> -->

</body>

</html>